@media(max-width:576px) {

  .header-logo {
    max-width: 100%;
    margin-left: 170px;
  }

.logo__img {
 justify-content: center;
}


.courses__img {
  max-width: 240px;
}

.courses__style {
  max-width: 240px;
}

.about__left {
  background: none;
}
}


@media(max-width:510px) {
  .header__li__4 {
    display: none;
  }
}
